/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body
{
  width:100%;
  min-height:100vh;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT8OdmeEe8hn8iA2vybJBrM5YfTXNdYnhZGviv6saudwUPuv52n");
  background-size: cover;
}
body{        
  padding-top: 60px;
  padding-bottom: 40px;
}
.container{
  width: 80%;
  margin: 0 auto; 
}
.fixed-footer{
  width: 100%;
  position: fixed;        
  background:gray;
  padding: 10px 0;
  color: black;
  z-index: 9999999999999;
}
.fixed-header{
  top: 0;
}
.fixed-footer{
  bottom: 0;
}    
/* nav a{
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}   */
/* .nav-item{
  padding:2px;
  margin-left: 7px;
} */

/* TO CENTER THE CARD */
.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px;
}

/* NAVBAR HOVER */
nav a:hover{
	background-color: silver;
	color: #000000;
}
.card:hover {
  background-color:gray;
}  

.navbar{
  background-color:gray !important;
}
.b{
  background-color: silver;
}





 
