<!-- 
<html>
    <head>
    <title>Landing Page</title>
    </head>
    <body bg="gray">
    <div class="container">
    <h2 class="text-center text-success" >Stock Market Charting</h2>
    </div>
    
    <br>
    <br>
    <div id="topnav" style="float:left;width: 1500px; height: 25px; word-spacing: 5px; font-size: 90%; padding-left:60px; padding-top: 6px; white-space: nowrap; text-align:left; background-color: black;">
     <nav>
                                <a routerLink="home">Home</a> |
                                <a routerLink="login">LOGIN</a> |
                                <a routerLink="register">SIGN UP</a>|
                                <a routerLink = "users">USERS LIST</a>|
                                <a routerLink = "landing">ADMIN LANDING PAGE</a>|
                                <a routerLink = "userhomepage">USER LANDING PAGE</a>|
                                
                            </nav>
                          
        </div>
        <br>
        <br>
        <router-outlet></router-outlet>
    </body>
    </html>
    -->



    <main class="main">
        <div class="container-fluid">
          <div class="text-center ">
            <h1 class="display ">Home Page</h1>
          </div>
          <br>
          <div class="row ">
            <div class="col-4">
            </div>
            <div class="w-25 float-right border p-3 col-4 bg-light shadow">
              <a class="btn btn-warning btn-lg btn-block my-5 " [routerLink]="['/landing']">ADMIN</a>
              <button class="btn btn-warning btn-lg btn-block my-5" [routerLink]="['/userhomepage']">USER</button>
            </div>
          </div>
        </div>
      </main>
     