
<nav class="navbar navbar-expand" >
    <div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="/import"class="nav-link"><button class="btn btn-outline-secondary"> IMPORT DATA</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/addCompany" src=""class="nav-link" ><button class="btn btn-outline-secondary"> CREATE COMPANY</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/company" class="nav-link"><button class="btn btn-outline-secondary">MANAGE COMPANY</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/ipo" class="nav-link"><button class="btn btn-outline-secondary">IPO</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/manageipo" class="nav-link"><button class="btn btn-outline-secondary">MANAGE IPO</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/stockexchangedetails" class="nav-link"><button class="btn btn-outline-secondary">STOCK EXCHANGE</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/stockexchange" class="nav-link"><button class="btn btn-outline-secondary">MANAGE STOCKEXCHANGE</button></a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid  bg-light"> -->
    <div class="card shadow text-dark bg-light mb-3">
      <p class="h4 card-header">Import Excel File</p>
      <div class="card-body bg-light">
    
          <p class="card-text shadow">Select File to be uploaded:&nbsp;</p>
          <div class="input-group mb-3">
              <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile">
                  <label class="custom-file-label" for="inputGroupFile">Choose file</label>
              </div>
              <div class="input-group-append">
                  <span class="input-group-text btn-success" id="inputGroupFileAddon" type="button">Upload
                  </span>
              </div>
          </div>