
<nav class="navbar navbar-expand" >
  <div>
      <ul class="navbar-nav">
          <li class="nav-item">
              <a routerLink="/import"class="nav-link"><button class="btn btn-outline-secondary"> IMPORT DATA</button></a>
          </li>
          <li class="nav-item">
              <a routerLink="/addCompany" src=""class="nav-link" ><button class="btn btn-outline-secondary"> CREATE COMPANY</button></a>
          </li>
          <li class="nav-item">
              <a routerLink="/company" class="nav-link"><button class="btn btn-outline-secondary">MANAGE COMPANY</button></a>
          </li>
          <li class="nav-item">
              <a routerLink="/ipo" class="nav-link"><button class="btn btn-outline-secondary">IPO</button></a>
          </li>
          <li class="nav-item">
              <a routerLink="/manageipo" class="nav-link"><button class="btn btn-outline-secondary">MANAGE IPO</button></a>
          </li>
          <li class="nav-item">
              <a routerLink="/stockexchangedetails" class="nav-link"><button class="btn btn-outline-secondary">STOCK EXCHANGE</button></a>
          </li>
          <li class="nav-item">
              <a routerLink="/stockexchange" class="nav-link"><button class="btn btn-outline-secondary">MANAGE STOCKEXCHANGE</button></a>
          </li>
      </ul>
  </div>
</nav>
<section>
    <div class="container">
  
      <div class="card bg-secondary w-75 h-100 mt-5 ">
        <div class="card-body">
          <h2 align="center"> STOCKEXCHANGE DETAILS</h2><br>
          <form [formGroup]="stockForm" (ngSubmit)="addStockExchange()">
            <div class="form-group">
              <label for="id">Id</label>
              <input type="text" class="form-control" id="id" formControlName="id"
                placeholder="Enter Id" name="id">
            </div>
            <div class="form-group">
              <label for="Stock">Stock Exchange</label>
              <input type="text" class="form-control" id="stock" formControlName="stock"
                placeholder="Enter Stock Exchange" name="stock">
            </div>
            <div class="form-group">
                <label for="remarks">Brief </label>
                <textarea class="form-control" id="brief" formControlName="brief" placeholder="Brief Information about Stock Exchange"
                  rows="2" name="brief"></textarea>
              </div>
              <div class="form-group">
                <label for="address">Contact Address</label>
                <textarea class="form-control" id="address" formControlName="address" placeholder="Enter Contact Address"
                  rows="2" name="address"></textarea>
              </div>
            
         
            <div class="form-group">
              <label for="remarks">Remakrs</label>
              <textarea class="form-control" id="remarks" formControlName="remarks" placeholder="Remarks If any"
                rows="2" name="remarks"></textarea>
            </div>
            <button type="submit" class="btn btn-success">ADD STOCK </button>
  
          </form>
        </div>
      </div>
    </div>
</section>
