<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="fixed-header">
        <div class="container">
            <nav>
                <a routerLink="home">HOME</a>
                <a routerLink="landing">ADMIN</a>
                <a routerLink="userhomepage">USER</a>
                <a routerLink="users">USERSLIST</a>
                <a routerLink="register">SIGN UP</a>
            </nav>
        </div>
    </div>
    
    <div class="fixed-footer">
        <div class="container">Copyright &copy; All Rights Reserved</div>        
    </div>
    <router-outlet></router-outlet>
</body>
</html>