<div id="body" class="container mt-5">
    <div class="row mb-5">
        <div class="col-6 my-3">
            
            <div class="card  my-card border border-curved text-center" onclick="location.href='import'">
                
                <div class="card-body ">
                    <h4 class="card-title display-6">Import Data</h4>
                </div>
            </div>
            
        </div>
        
        <div class="col-6 my-3">
            
  
   <div class="card my-card border border-curved text-center" onclick="location.href='addCompany'">
                <div class="card-body">
                    <h4 class="card-title display-6">Create Company</h4>
                </div>
            </div>
            
        </div>
        <div class="col-6 my-3">
            
            <div class="card my-card border border-curved text-center" onclick="location.href='stockexchangedetails'">
                <div class="card-body">
                    <h4 class="card-title display-6">Stock Exchanges</h4>
                </div>
            </div>
            
        </div>
        <div class="col-6 my-3">
            
            <div class=" card my-card border border-curved text-center" onclick="location.href='updateipo'">
                <div class="card-body">
                    <h4 class="card-title display-6">Update IPO</h4>
                </div>
            </div>
            
        </div>
        <div class="col-6 my-3">
            
            <div class=" card my-card border border-curved text-center" onclick="location.href='company'">
                <div class="card-body">
                    <h4 class="card-title display-6">Manage Company</h4>
                </div>
            </div>
            
        </div>
    </div>
</div>