<!-- <nav class="navbar navbar-expand" >
    <div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="/import"class="nav-link"><button class="btn btn-outline-secondary"> IMPORT DATA</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/addCompany" src=""class="nav-link" ><button class="btn btn-outline-secondary"> CREATE COMPANY</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/company" class="nav-link"><button class="btn btn-outline-secondary">MANAGE COMPANY</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/ipo" class="nav-link"><button class="btn btn-outline-secondary">IPO</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/manageipo" class="nav-link"><button class="btn btn-outline-secondary">MANAGE IPO</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/stockexchangedetails" class="nav-link"><button class="btn btn-outline-secondary">STOCK EXCHANGE</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/stockexchange" class="nav-link"><button class="btn btn-outline-secondary">MANAGE STOCKEXCHANGE</button></a>
            </li>
        </ul>
    </div>
</nav> -->
<table class="table">
    <div class="table-responsive">
    <tr>
        <th>Id</th>
        <th>Company name</th>
        <th>Listed in Stock Exchange</th>
        <th>Price per Share</th>
        <th>Total number of Shares</th>
        <th>Open Date</th>
        <th>Remarks</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let ipo of ipos">
        <td>{{ipo.id}}</td>
        <td>{{ipo.companyname}}</td>
        <td>{{ipo.lse}}</td>
        <td>{{ipo.pps}}</td>
        <td>{{ipo.tnos}}</td>
        <td>{{ipo.odate}}</td>
        <td>{{ipo.remarks}}</td>
        <td>
            <button class="btn btn-danger" (click)="deleteIpo(ipo.id)">Delete</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-warning" (click)="updateIpo(ipo)">Update</button></td>
    </tr>
    </div>
</table>











