<!-- <nav class="navbar navbar-expand" >
    <div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="/import"class="nav-link"><button class="btn btn-outline-secondary"> IMPORT DATA</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/addCompany" src=""class="nav-link" ><button class="btn btn-outline-secondary"> CREATE COMPANY</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/company" class="nav-link"><button class="btn btn-outline-secondary">MANAGE COMPANY</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/ipo" class="nav-link"><button class="btn btn-outline-secondary">IPO</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/manageipo" class="nav-link"><button class="btn btn-outline-secondary">MANAGE IPO</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/stockexchangedetails" class="nav-link"><button class="btn btn-outline-secondary">STOCK EXCHANGE</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/stockexchange" class="nav-link"><button class="btn btn-outline-secondary">MANAGE STOCKEXCHANGE</button></a>
            </li>
        </ul>
    </div>
</nav>
    <br><br> -->
<table class="table">
    <div class="table-responsive">
    <tr>
        <th>ID</th>
        <th>Company name</th>
        <th>Turnover</th>
        <th>CEO</th>
        <th>Board of Directors</th>
        <th>Listed in Stock Exchange</th>
        <th>Sector</th>
        <th>About Company</th>
        <th>Stock Code</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let company of companies">
        <td>{{company.id}}</td>
        <td>{{company.companyname}}</td>
        <td>{{company.turnover}}</td>
        <td>{{company.ceo}}</td>
        <td>{{company.bod}}</td>
        <td>{{company.lse}}</td>
        <td>{{company.sector}}</td>
        <td>{{company.boc}}</td>
        <td>{{company.stock}}</td>
        <td>
            <button class="btn btn-danger" (click)="deleteCompany(company.id)">Delete</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-warning" (click)="updateCompany(company)">Update</button></td>
    </tr>
    </div>
    
</table>










